body{
	padding: 0em;
	margin: 0em;
}
.MenuBar-Mobile{
	display: none;
}
/*Header related CSS*/
.header {
  overflow: hidden;
  background-color:#20639B;
  padding: 0em;
	margin: 0em;
    width:100%;
  height:15%;
  position: relative;
}


.logo img {
	width: 6em;
	height: 6em;
	padding: 0em;
	margin: 0.5em;
	background-color: #FFFFFF;
	border-radius: 3em;
	float: left;
}

.logo img:hover {
	background-color: #9A9ABA;
}

.header h2 {
	font-size: 30px;
	color: #FFFFFF;
	line-height: 80px;
  	font-style: italic;
  	padding: 0.1em;
	margin-top: 0.4em;
	margin-right: 0em;
	margin-left: 0.5em;
  	text-align: center;
  	height: auto;
  	float: left;

}



.logo {
  padding-top: 0;
  margin-top: 0;
  padding-left: 0;
  float: left;
  text-align: center;
}

/* Style the header links */
.MenuBar-desktop a {
  float: left;
  color: white;
  text-align: center;
  padding: 0.4em;
  margin:0.1em;
  margin-top: 3em;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 0.25em;
  font-style: bold;
}


/* Change the background color on mouse-over */
.MenuBar-desktop a:hover {
  background-color: #173F5F;

  box-shadow: 5px 5px 5px 2px #0e2433;
}

/* Float the link section to the right */
.MenuBar-desktop{
	float: right;
  	margin: 0.5em;
  	height:100%;
	top:0;
}

.Archive-Scroller{
	overflow-y: scroll;
	height: 85%;
	-ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
@media only screen and (max-width: 525px) {
	/*Phones*/
	.logo h2{
		font-size: 20px;
	}
	.logo img{
		width: 4em;
		height: 4em;
		margin-top: 1em;
	}
	.logo{
		width: 80%;
		float:left;
	}
	.MenuBar-Mobile{
		display: block;
		right: 1em;
		top:1em;
		margin: auto;
		padding: 0em;
		position: absolute;
		width: 15%;
	}
	.MenuBar-Mobile img{
		width: 2em;
		height: 2em;
	}

}
@media only screen and (max-width: 650px) and (min-width: 525px) {
	/*small tablets*/

}
@media only screen and (max-width: 860px) and (min-width: 650px)  {
	/*medium tablets*/

}
